/* University and School page styles */

/* main content styling */
.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 88vh;
}

aside {
  width: 20%;
  order: 0;
}

main {
  width: 80%;
  order: 1;
}

.main-container {
  width: 100%;
  margin: 0 auto;
}

/* First  section */
.question-container {
  position: absolute;
  width: 100%;
}

div.question {
  position: absolute;
  top: 350px;
  opacity: 1;
  transition: top 2s ease, opacity 2s ease 2s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

h2.start {
  font-weight: bold;
  display: inline-block;
  margin-right: 1em;
  font-size: 2rem;
}

button.start {
  font-size: 1.5rem;
  border-radius: .2em;
  border: 2px solid transparent;
  padding: .6em;
  color: #fff;
  ;
}

button.start:hover {
  cursor: pointer;
}

/* Second section starts */
div.calculate {
  opacity: 1;
  width: 0;
  min-height: 0;
  height: 0;
  margin: 0 auto;
  box-shadow: 0 0 10px #333;
  border-radius: .2em;
  padding: .5em;
  transition: width 2s ease 4s, height 2s ease 4s, min-height 2s ease 4s, opacity 2s ease-out 4.5s;
}

div.top,
div.bottom {
  display: none;
}

/* Styles when calculation process begins */
div.output {
  text-align: center;
}

progress.calculate {
  width: 50%;
  font-size: 2rem;
}

p.output-text {
  color: #0064ff;
  font-size: 1.4rem;
}

/* Styles when final result is shown */
div.result {
  margin: 0 auto;
  position: relative;
  z-index: -1;
  top: -100px;
  width: 0;
  height: 0;
  font-size: 2.5em;
  border-bottom: thick solid transparent;
  text-align: center;
  transition: width 2s ease 7s, height 2s ease 7s, top 3s ease-in-out 14s;
}

p.result {
  padding: .5rem;
}

span.result {
  opacity: 0;
}

span.first {
  transition: opacity 1s ease 9s;
  color: tomato;
}

span.second {
  transition: opacity 1s ease 10s;
  color: #0064ff;
}

span.third {
  transition: opacity 1s ease 11s;
  color: #1ee61e;
}

span.final {
  transition: opacity 2s ease 12s;
  font-family: "Cascadia Code";
}

/* Add lesson button */
button.add,
button.calculate-average,
a.again {
  display: block;
  font-size: 1.3rem;
  border-radius: .2em;
  padding: 1rem;
  margin: .5em auto 1em auto;
}

a.again {
  display: inline-block;
}

button.add,
a.again {
  background-color: #0070ff;
  color: white;
  border: 2px solid transparent;
}

button.add:hover,
a.again:hover {
  cursor: pointer;
  background-color: #00b7ff;
}

button.add:active,
a.again:active {
  border: 2px solid #0070ff;
  color: #0070ff;
  background-color: transparent;
}

/* Calculate average button */
button.calculate-average {
  margin: 0 auto;
  color: aqua;
  border: 2px solid aqua;
  background-color: transparent;
  transition: margin 3s;
}

button.calculate-average:hover {
  cursor: pointer;
  background-color: rgb(10, 222, 222);
  color: white;
  border: 2px solid transparent;
}

button.calculate-average:active {
  background-color: transparent;
  border: 2px solid #fff;
}

/* Forms for each single lesson details */
.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0;
}

/* Error and valid icons style inside each input */
div.icon-container {
  position: absolute;
}

i.fa-exclamation-circle,
i.fa-check-circle {
  position: absolute;
  bottom: 13px;
  font-size: 1.3rem;
  display: none;
}

i.fa-exclamation-circle {
  color: #ff2e2e;
}

i.fa-check-circle {
  color: #1ee61e;
}

.clear-btn {
  display: flex;
  align-items: center;
  flex-grow: 0;
}

.input-group {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 2;
  align-items: center;
}

.button-group {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

/* Clear form button */
button.clear {
  background-color: transparent;
  font-size: 1.2rem;
  border: 2px solid #ff003c;
  margin: .3em;
  border-radius: .2em;
  color: #ff003c;
  width: 5rem;
  height: 2.35rem;
}

button.clear:hover {
  background-color: #ff003c;
  color: #fff;
  border: 2px solid transparent;
}

button.clear:active {
  background-color: transparent;
  border: 2px solid #ff9900;
  color: #ff9900;
}

label {
  font-size: 1.3rem;
}

/* Inputs styles */
form input {
  color: #fff;
  font-size: 1.1rem;
  height: 2.35rem;
  outline: none;
  border-radius: .2em;
  padding: .2em;
  margin: .3em .5em;
  background-color: transparent;
  border: 2px solid #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input.title {
  width: 15rem;
}

input.mark {
  width: 8rem;
}

input.unit {
  width: 6rem;
}

/* Button Styles */
.button-group button {
  font-size: 1rem;
  border: 2px solid transparent;
  margin: .3em;
  border-radius: .2em;
  color: #fff;
  width: 4rem;
  height: 2.35rem;
}

.button-group button:hover {
  cursor: pointer;
  opacity: .8;
}

.button-group button:active {
  opacity: 1;
}

.button-group button.save {
  background-color: rgb(41, 228, 100);
}

.button-group button.save:active {
  background-color: transparent;
  border: 2px solid rgb(41, 228, 100);
  color: rgb(41, 228, 100);
}

.button-group button.edit {
  background-color: rgb(255, 145, 0);
}

.button-group button.edit:active {
  background-color: transparent;
  border: 2px solid rgb(255, 145, 0);
  color: rgb(255, 145, 0);
}

.button-group button.delete {
  background-color: #ff0024;
}

.button-group button.delete:active {
  background-color: transparent;
  border: 2px solid #ff0024;
  color: #ff0024;
}

/* Calculation error message style */
div.calculate-error {
  background-color: #ff003c;
  color: #fff;
  border-radius: .2em;
  margin: 1rem auto;
  width: 99%;
  padding: 0.3em;
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

p.error-text {
  font-weight: bold;
}

button.close-button {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 50%;
}

button.close-button:hover {
  border: 2px solid #fff;
}

i.material-icons {
  color: #fff;
  font-size: 1.3rem;
  display: block;
  margin: 0;
}

span.save-text {
  text-decoration: underline;
  font-size: 1.2em;
  color: #c7ff00;
}

/* Sidebar tips list styles */
aside div.tips {
  opacity: 1;
  width: 0;
  margin: 0 auto;
  box-shadow: 0 0 10px #333;
  border-radius: .2em;
  height: 0;
  min-height: 0;
  transition: width 2s ease 4s, height 2s ease 4s, min-height 2s ease 4s, opacity 2s ease-out 4.5s;
}

aside ul.tips-list {
  display: none;
  list-style: none;
  padding: .2em;
}

aside ul.tips-list li {
  font: 1.2rem Arial;
  border-bottom: 3px solid rgba(16, 16, 16, .4);
  padding: 0.4em 0.2em;
}

aside ul.tips-list li:last-child {
  border-bottom: none;
}

i.fa-exclamation-triangle {
  margin: 0;
  color: #ff2e2e;
}

aside ul.tips-list li.tip-top h3 {
  color: #ffbb00;
}

aside ul.tips-list li.tip-bottom h4 {
  font-weight: 500;
  color: #ffea00;
}

aside ul.tips-list li.tip-bottom span.save-tip {
  font-size: 1.5rem;
  color: #1ee61e;
  text-decoration: underline;
}

.again-container {
  text-align: center;
  position: relative;
  top: 0;
  opacity: 0;
  transition: opacity 1s ease 17s, top 2s ease-in-out 18s;
}

/* Dropdown icon restyle */
i.dropdown {
  font-size: 2rem;
  color: #333;
  display: inline-block;
  margin: 0 .2em;
}

/* Light theme styles */
div.main-light {
  box-shadow: 0 0 10px #fff;
}

input.main-light {
  color: #333;
  background-color: transparent;
  border: 2px solid #333;
}