@import url("https://fonts.googleapis.com/css?family=Raleway:wght@100;200;300;400;500;600;700;800;900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Raleway, sans-serif;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
}

/* Navbar styles */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 242, 0);
  padding: 0 .5em;
}

nav {
  margin: 0 0 1em 0;
}

h1 {
  margin: 0;
  color: #333;
}

ul.nav-list {
  list-style: none;
  margin: 0;
}

ul.nav-list li {
  padding: 1em .2em;
  display: inline-block;
  border-left: 2px solid #333;
}

ul.nav-list li:last-child {
  border-right: 2px solid #333;
}

ul.nav-list li:hover {
  background-color: rgba(255, 217, 0, 0.686);
}


li.active a {
  color: rgb(0, 132, 255);
  font-weight: bold;
}

li.active a:hover {
  color: #fff;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #fff;
  cursor: pointer;
}

i {
  margin: 0 .2em;
}
