/* Sign up and Sign in page styles */

@import url("https://fonts.googleapis.com/css?family=Raleway:wght@100;200;300;400;500;600;700;800;900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Raleway, sans-serif;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
  overflow-x: hidden;
}

/* Form styles */
div.form {
  background-color: #2d2d2d;
  width: 30%;
  min-width: 570px;
  height: auto;
  border: 2px solid #464646;
  border-radius: .2em;
  padding: 1rem;
}

/* Form child elements styles */
div.elem-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  margin: 1.5em 0;
}

div.form-header,
div.btn-container {
  justify-content: center;
}

h1.header {
  color: #ff8226;
}

/* Input styles */
input {
  background-color: transparent;
  height: 2.5rem;
  padding: .5em;
  color: #fff;
  font-size: 1.5rem;
  border-radius: .3em;
  outline: none;
  border: 3px solid #464646;
}

input:focus {
  border: 4px solid #0064ff;
}

div.last-name,
div.password {
  position: relative;
}

input.last-name {
  padding: .5em 4.7em .5em .5em;
}

input.password {
  padding: .5em 2em .5em .5em;
}

span.optional {
  position: absolute;
  top: 5px;
  left: 430px;
  opacity: .5;
  border-left: 2px solid #ddd;
  padding: 0 .1em;
}

button.check-pass {
  position: absolute;
  top: 7px;
  left: 495px;
  background-color: transparent;
  border: none;
}

i.fa-eye,
i.fa-eye-slash {
  color: #ddd;
}

i.fa-eye:hover,
i.fa-eye-slash:hover {
  color: #afff26;
}

/* Button styles */
button.submit-btn {
  font-size: 1.5rem;
  border-radius: .2em;
  padding: .6rem;
}

button.submit-btn:hover {
  cursor: pointer;
  color: #fff;
  border: thick solid transparent;
}

/* Form validator error container style */
div.error {
  color: #fff;
  background-color: #ff2e2e;
  border-radius: .2em;
  padding: .3rem;
  font: 1.2rem Arial;
}

/* Submit success message style */
div.submit-success {
  width: 100%;
  background-color: #0093ff;
  padding: .2em;
  text-align: center;
  font-size: 1.5rem;
  position: fixed;
  top: -100px;
  transition: top 2s ease-in-out;
}

i.fa-user-check {
  margin: 0 .8em;
}

i.fa-user-check:hover {
  color: #fff;
}

/* Submit error message styles */
div.submit-error {
  width: 100%;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #ff2e2e;
  border-bottom: 2px solid #333;
  padding: .2em;
  text-align: center;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  transition: top 1s ease-in-out;
}

div.submit-error:hover {
  background-color: #333;
  border-bottom: 2px solid #ff2e2e;
  color: #ff2e2e;
}

p.submit-error {
  margin: auto;
}

button.close {
  background-color: transparent;
  border: none;
}

button.close:hover {
  cursor: pointer;
}

i {
  color: #fff;
  font-size: 1.6rem;
}

i:hover {
  color: #ff2e2e;
}

div.sign-in,
div.sign-up {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #2d2d2d;
  width: 30%;
  min-width: 570px;
  height: auto;
  min-height: 100px;
  border: 2px solid #464646;
  border-radius: .2em;
  margin: .5% auto;
  padding: 1rem;
}

span.sign-in,
span.sign-up {
  color: #ddd;
  margin: 1rem;
}

a.sign-in,
a.sign-up {
  text-decoration: none;
  color: #0070ff;
  margin: 1rem;
}

a.sign-in:hover,
a.sign-up:hover {
  color: #ff2e73;
}

a.sign-in:active,
a.sign-up:active {
  color: gold;
}

a.sign-in:visited,
a.sign-up:visited {
  color: slateblue;
}

/* Responsive styles */
@media screen and (max-width: 1200px) {
  div.form {
    min-width: 470px;
  }

  p.error {
    font-size: 1rem;
  }

  div.elem-container {
    flex-direction: column;
    font-size: 1.3rem;
  }

  input {
    font-size: 1.3rem;
  }

  span.optional {
    top: 28px;
    left: 289px;
    padding: .3rem .1em;
  }

  button.check-pass {
    top: 32px;
    left: 340px;
  }

  button.submit-btn {
    font-size: 1.3rem;
  }

  div.sign-in,
  div.sign-up {
    min-width: 470px;
  }
}


@media screen and (max-width: 998px) {
  div.submit-error,
  div.submit-success {
    font-size: 1.3rem;
  }

  div.form {
    min-width: 400px;
  }

  div.elem-container {
    flex-direction: column;
    font-size: 1.2rem;
  }

  input {
    font-size: 1.2rem;
  }

  span.optional {
    top: 25px;
    left: 235px;
    padding: .35rem .1em;
  }

  button.check-pass {
    top: 30px;
    left: 280px;
  }

  button.submit-btn {
    font-size: 1.2rem;
  }

  div.sign-in,
  div.sign-up {
    min-width: 400px;
  }
}

@media screen and (max-width: 768px) {
  div.submit-error,
  div.submit-success {
    font-size: 1.1rem;
  }

  div.form {
    min-width: 320px;
    min-height: 540px !important;
  }

  p.error {
    font-size: .75rem;
  }

  div.elem-container {
    font-size: .9rem;
  }

  input {
    font-size: 1rem;
  }

  button.submit-btn {
    font-size: 1rem;
  }

  span.optional {
    top: 21px;
    left: 184px;
    padding: .5rem .1em;
  }

  button.check-pass {
    top: 25px;
    left: 218px;
  }

  input.password {
    padding: .5em 2.5em .5em .5em;
  }

  i {
    font-size: 1.4rem;
  }

  div.sign-in,
  div.sign-up {
    min-width: 320px;
  }
}

@media screen and (max-width: 576px) {
  div.submit-error,
  div.submit-success {
    font-size: .8rem;
  }

  div.form {
    min-width: 200px;
    min-height: 390px !important;
  }

  p.error {
    font-size: .6rem;
  }

  h1.header {
    font-size: .8rem;
  }

  div.elem-container {
    font-size: .8rem;
  }

  input {
    font-size: .9rem;
    height: 1.5rem;
  }

  button.submit-btn {
    font-size: .8rem;
    border: 3px solid rgb(7, 244, 113) !important;
  }

  span.optional {
    top: 17px;
    left: 90px;
    padding: .25rem .1em;
    font-size: .6rem;
  }

  button.check-pass {
    top: 19px;
    left: 120px;
  }

  input.password {
    padding: .5em 1.7em .5em .5em;
  }

  i {
    font-size: 1rem;
  }

  div.sign-in,
  div.sign-up {
    min-width: 200px;
  }
}