@import url("navbar.css");
@import url("main.css");

h1 span.school-header {
  text-decoration: underline;
}

h2.start {
  color: slateblue;
}

button.start {
  background-color: slateblue;
}

button.start:hover {
  background-color: rgb(125, 165, 234);
}

button.start:active {
  border: 2px solid slateblue;
  color: slateblue;
  background-color: transparent;
}
