@import url("navbar.css");
@import url("main.css");

/* School page specific styles */
h1 {
  font-size: 1.4rem;
}

h1 span.school-header {
  text-decoration: underline;
}

h2.start {
  color: slateblue;
}

button.start {
  background-color: slateblue;
}

button.start:hover {
  background-color: rgb(125, 165, 234);
}

button.start:active {
  border: 2px solid slateblue;
  color: slateblue;
  background-color: transparent;
}

/* Valid and error icons coordinates */
i.school-title-error,
i.school-title-valid {
  left: 340px;
}

i.school-mark-error,
i.school-mark-valid {
  left: 234px;
}