@import url("register.css");

/* Sign-up page main styles */
div.form {
  min-height: 600px;
  margin: 7.5% auto .5% auto;
}

input {
  width: 75%;
}

button.submit-btn {
  width: 40%;
  background-color: transparent;
  color: rgb(7, 244, 113);
  border: thick solid rgb(7, 244, 113);
}

button.submit-btn:hover {
  background-color: rgb(7, 244, 113);
}

button.submit-btn:active {
  background-color: transparent;
  color: rgb(7, 244, 211);
  border: thick outset rgb(7, 244, 211);
}

span.sign-in {
  font-size: 1.5rem;
}

a.sign-in {
  font-size: 1.6rem;
}

/* API error messages */
div.msg {
  background-color: #ff103d;
  font-size: 1.2rem;
  border-radius: 1rem;
  transition: transform 1.5s ease;
}

div.api {
  padding: .3em .2em .3em 1rem;
  float: left;
  transform: translateX(-100%);
}

div.email-fetch-err {
  width: 26%;
}

div.data-post-err {
  width: 32%;
  clear: left;
  margin-top: 5rem;
}

div.duplicate-email-err {
  width: 18%;
  padding: .3em .2em .3em 1rem;
  float: right;
  transform: translateX(100%);
}

div.duplicate-email-err::before {
  content: "\f071";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #fff;
}

p.api {
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
}

p.api::first-line {
  font-weight: normal;
  font-size: 1.2rem;
}

p.duplicate-email-err {
  display: inline-block;
}

/* Responsive styles */
@media screen and (max-width: 1500px) {
  div.msg {
    font-size: 1.2rem;
  }

  div.data-post-err,
  div.email-fetch-err {
    width: 25%;
  }

  div.duplicate-email-err {
    width: 35%
  }

  p.api {
    font-size: 1.06rem;
    font-weight: normal;
  }

  p.api::first-line {
    font-size: 1.06rem;
  }
}

@media screen and (max-width: 1200px) {
  div.msg {
    font-size: 1rem;
  }

  div.api {
    padding: .3em .2em .3em .7rem;
    float: left;
  }

  div.data-post-err,
  div.email-fetch-err {
    width: 30%;
  }

  div.duplicate-email-err {
    width: 35%
  }

  p.api {
    font-size: 1rem;
    font-weight: normal;
  }

  p.api::first-line {
    font-size: 1rem;
  }

  span.sign-in {
    font-size: 1.3rem;
  }

  a.sign-in {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 998px) {
  div.duplicate-email-err {
    font-size: 1rem;
    width: 35%;
  }

  div.data-post-err,
  div.email-fetch-err {
    width: 25%;
  }

  p.api {
    font-size: .85rem;
    font-weight: normal;
  }

  p.api::first-line {
    font-size: .85rem;
  }

  span.sign-in {
    font-size: 1.2rem;
  }

  a.sign-in {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 768px) {
  div.msg {
    font-size: .7rem;
  }

  div.duplicate-email-err {
    width: 35%;
  }

  div.data-post-err,
  div.email-fetch-err {
    width: 26%;
  }

  p.api {
    font-size: .7rem;
  }

  p.api::first-line {
    font-size: .7rem;
  }

  span.sign-in {
    font-size: 1rem;
  }

  a.sign-in {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 576px) {
  div.msg {
    font-size: .55rem;
  }

  div.duplicate-email-err {
    width: 35%;
  }

  div.data-post-err,
  div.email-fetch-err {
    width: 26%;
  }

  p.api {
    font-size: .55rem;
  }

  p.api::first-line {
    font-size: .55rem;
  }

  span.sign-in {
    font-size: .8rem;
    margin: .3em;
  }

  a.sign-in {
    font-size: .9rem;
    margin: .3em;
  }
}