@import url("register.css");

/* Sign-up page main styles */
div.form {
  min-height: 600px;
  margin: 7.5% auto .5% auto;
}

input {
  width: 75%;
}

button.submit-btn {
  width: 40%;
  background-color: transparent;
  color: rgb(7, 244, 113);
  border: thick solid rgb(7, 244, 113);
}

button.submit-btn:hover {
  background-color: rgb(7, 244, 113);
}

button.submit-btn:active {
  background-color: transparent;
  color: rgb(7, 244, 211);
  border: thick outset rgb(7, 244, 211);
}

span.sign-in {
  font-size: 1.5rem;
}

a.sign-in {
  font-size: 1.6rem;
}