@import url("https://fonts.googleapis.com/css?family=Raleway:wght@100;200;300;400;500;600;700;800;900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Raleway, sans-serif;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
}

/* Navbar styles. */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 242, 0);
  padding: 0 .5em;
}

nav {
  margin: 0 0 1em 0;
}

h1 {
  margin: 0;
  color: #333;
}

ul.nav-list {
  list-style: none;
  margin: 0;
}

ul.nav-list li {
  padding: 1em .1em;
  display: inline-block;
}

ul.nav-list li:hover {
  background-color: rgb(255, 217, 1);
}


li.active a {
  color: rgb(0, 132, 255);
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #fff;
  cursor: pointer;
}

i {
  margin: 0 .2em;
}

/* Here main content styling starts. */

.main-container {
  width: 80%;
  margin: 0 auto;
}

/* First  section starts. */

div.question {
  text-align: center;
}

h2.start {
  font-weight: bold;
  color: rgb(0, 255, 106);
  display: inline-block;
  margin-right: 1em;
}

button.start {
  font-size: 1.2rem;
  background-color: rgb(0, 255, 106);
  border-radius: .2em;
  border: 2px solid transparent;
  padding: .5em;
  color: #fff;
}

button.start:hover {
  cursor: pointer;
  background-color: rgb(0, 255, 166);
}

button.start:active {
  border: 2px solid rgb(0, 255, 106);
  color: rgb(0, 255, 106);
  background-color: transparent;
}

/* Second section starts. */

div.calculate {
  width: 80%;
  height: 500px;
  margin: .5em auto;
  border: 5px solid #fff;
  border-radius: .2em;
  padding: .5em;
}

/* Add lesson button. */

button.add {
  display: block;
  font-size: 1.3rem;
  background-color: #0070ff;
  color: white;
  border: 2px solid transparent;
  border-radius: .2em;
  padding: 1rem;
  margin: 0 auto .5em auto;
}

button.add:hover {
  cursor: pointer;
  background-color: #00b7ff;
}

button.add:active {
  border: 2px solid #0070ff;
  color: #0070ff;
  background-color: transparent;
}

/* Forms for each single listen details */

.form-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  font-size: 1.3rem;
}

/* Inputs styles. */

form input {
  color: #fff;
  font-size: 1.1rem;
  height: 2.35rem;
  outline: none;
  border-radius: .2em;
  padding: .2em;
  margin: .3em .5em;
  background-color: transparent;
  border: 2px solid #fff;
}

input.title {
  width: 15rem;
}

input.title:focus {
  border: 2px solid #00c3ff;
}

input.mark {
  width: 8rem;

}

input.mark:focus {
  border: 2px solid #7300ff;
}

input.unit {
  width: 6rem;
}

input.unit:focus {
  border: 2px solid #ff003c;
}

/* Button Styles. */

.button-group button {
  font-size: 1.3rem;
  border: 2px solid transparent;
  margin: .3em;
  border-radius: .2em;
  color: #fff;
  width: 6rem;
  height: 2.35rem;
}

.button-group button:hover {
  cursor: pointer;
  opacity: .8;
}

.button-group button:active {
  opacity: 1;
}

.button-group button.save {
  background-color: rgb(41, 228, 100);
}

.button-group button.save:active {
  background-color: transparent;
  border: 2px solid rgb(41, 228, 100);
  color: rgb(41, 228, 100);
}

.button-group button.edit {
  background-color: #ffa700;
}

.button-group button.edit:active {
  background-color: transparent;
  border: 2px solid #ffa700;
  color: #ffa700;
}

.button-group button.delete {
  background-color: #ff0024;
}

.button-group button.delete:active {
  background-color: transparent;
  border: 2px solid #ff0024;
  color: #ff0024;
}
